@model KinderhuisStageOpdracht.Models.Viewmodels.GebruikerViewModel.PostViewModel

@using (Html.BeginForm("Forum", "Gebruiker", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.TextArea(Model.Boodschap)

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Versturen" />
        </div>
    </div>

}

