
@{
    ViewBag.Title = "AdminIndex";
}

<h2>AdminIndex</h2>

<h3>Opvoeders</h3>
<table>
    <tr>
        <th>Naam</th>
        <th>Voornaam</th>
        <th>Email adress</th>
        <th>Acties</th>
    </tr>
</table>

<h3>Cliënten</h3>
<table>
    <tr>
        <th>Naam</th>
        <th>Voornaam</th>
        <th>Acties</th>
    </tr>
</table>