@model KinderhuisStageOpdracht.Models.Viewmodels.OpvangtehuisViewModel.CreateSuggestieViewModel
@{
    ViewBag.Title = "CreateSuggestie";
}

<h2>CreateSuggestie</h2>
@*@using (Html.BeginForm("CreateSuggestie", "Opvangtehuis", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    
{*@

