@model KinderhuisStageOpdracht.Models.Viewmodels.OpvangtehuisViewModel.SuggestieListViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table class="table">
    <tr>
        <th>Genre</th>
        <th>Cliënt</th>
        <th>Wanneer</th>
        <th>Suggestie</th>

    </tr>
    @foreach (var o in Model.Suggesties)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => o.Genre)</td>
            <td>@Html.DisplayFor(modelItem => o.Client)</td>
            <td>@Html.DisplayFor(modelItem => o.TimeStamp)</td>
            <td>@Html.DisplayFor(modelItem => o.Beschrijving)</td>
        </tr>
    }
</table>

