@model KinderhuisStageOpdracht.Models.Viewmodels.StrafViewModel.StrafListIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Voeg nog straf toe", "CreateStraf")
<table class="table">
    <tr>
        <th>Naam</th>
    </tr>

    @foreach (var o in Model.List)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => o.Naam)</td>
        </tr>
    }
</table>
@Html.ActionLink("Terug naar index", "OpvoederIndex", "Gebruiker")