@model KinderhuisStageOpdracht.Models.Viewmodels.StrafViewModel.StrafListIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Lijst van straffen | @Html.ActionLink("Voeg nog straf toe", "CreateStraf")</p>
<ol>
    @foreach (var o in Model.List)
    {
        <li>@Html.DisplayFor(modelItem => o.Naam)</li>
    }
</ol>


@*<table class="table">
    <tr>
        <th>Naam</th>
    </tr>

    @foreach (var o in Model.List)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => o.Naam)</td>
        </tr>
    }
</table>*@

@Html.ActionLink("Terug naar index", "OpvoederIndex", "Gebruiker")